<p id="notice"><%= notice %></p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

<div class="dataPatient" align="middle">
  <h1>
    <%= @patient.surname %>
    
    <%= @patient.name %>
    
    <%= @patient.fathername %>
  </h1>
</div>

<p class="adressPatient">
  <strong>Адрес:</strong>
  <%= @patient.adress %>
</p>


<p class="phone-number">
  <%= @patient.phonenumber %>
</p>

<p class="dobPatient">
  <strong>Дата рождения:</strong>
  <%= @patient.dob.strftime("%d.%m.%Y") %>
</p>
<p align="center">
  <%= render 'orders/orders_patient' %>
</p>
<%= link_to "Create Order", new_order_path(@patient) %>
<%= link_to 'Edit', edit_patient_path(@patient) %> |
<button class="btn btn-outline-danger" id="all_patient">Вернуться</button>
